* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

textarea{ 
  resize:none;
}

#global{
  width: 100%;
  display: none;
  flex-flow: row nowrap;
}

#mainCtn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 5%;
}

#user{
  font-size: 2vw;
}

#userCtn{
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #cecece59;
}

#userCtn > #imageUser {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#userCtn > #imageUser img{
  width: 35%;
}

#general{
  padding-right: 2rem;;
}

.userFrame img {
  width: 10%;
}

#msgCtn{
  width: 75%;
  overflow: auto;
}

#headMsg{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#headImg{
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

#headMsg #imageSalon{
  width: 15%;
  margin-right: 5%;
}

#iconCtn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

#headMsg #iconCtn #notification{
  width: 8%;
  margin-right: 4%;
}

.material-icons{
  transition: all .25s ease-in-out;
}

.material-icons:hover{
  cursor: pointer;
  color: #DB1702;
  transition: all .5s ease-in-out;
}

#headMsg #iconCtn #notification:hover{
  cursor: pointer;
}

#messages{
  min-height: 75vh;
  overflow: auto;
  padding: 2rem;
}

.trait{
  width: 95%;
  border: 1px solid #cececec0;
  margin-left: auto;
  margin-right: auto;
}

#formEnvoyer{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#formEnvoyer > .formCtn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#addFct{
  width: 6%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}

#addFct img{
 width: 40%;
}

#addFct img:hover{
  cursor: pointer;
 }

 #addFct label{
   width: 40%;
   padding: 0;
   margin: 0;
 }

 #addFct label img{
   width: 100%;
 }

#m{
  width: 75%;
  background-color: #cecece59;
  padding: .9rem;
  border: 0;
  border-radius: 10px;
  font-size: 1vw;
  margin-left: 1rem;
  margin-right: 1rem;
}

#m:focus{
  border: 0;
  outline: none;
}

#sendBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #318ce7;
  border-radius: 50%;
  padding: 1rem;
  height: 50px;
  width: 50px;
  margin: 0;
  border: 0;
  text-align: center;
  transition: all .5s ease-in-out;
}

#sendBtn:hover{
  cursor: pointer;
  background-color: #3ab1e0;
  transition: all .5s ease-in-out;
}

#sendBtn > i{
  color: white;
}

/*** Head ***/

#headCtn {
  width: 100%;
  background-color:#bababa;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
}

#headCtn > h1 {
  text-align: center;
}

#headCtn > h1 > i {
  margin-right: 1rem;
}

.imageUser{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 2% 20%;
}

.imageUser > img{
	width: 25%;
	box-shadow: 3px 3px 12px white;
	border-radius: 50%;
}

.imageUser > img:hover{
	cursor: pointer;
	opacity: .5;
}

.imageSelected{
	border: solid 2px black;
}

.imgUserSend{
	position: absolute;
	width: 2%;
	border: solid 1px black;
	border-radius: 50%;
	bottom: 20px;
}

.right{
	right: 0;
}

.left{
	left: 0;
}

/*** Input ***/

#formCtn {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  background-color: #CECECE;
}

.inputCtn {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin-bottom: 1rem;
}

.inputCtn > label {
  text-align: left;
  color: grey;
  font-size: 1.2vw;
  margin-bottom: 0.25rem;
}

.inputCtn > #username,
.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid grey;
}

.inputCtn > #username {
  width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 1vw;
}

.btn {
  width: 30%;
  background-color: rgb(197, 195, 195);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 1vw;
}

.btn:hover {
  background-color: rgb(221, 221, 221);
  transition: all 0.25s ease-in-out;
}

.search {
  width: 80%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: .8vw;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("../img/loupe.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 0.25s ease-in-out;
  margin-bottom: 1rem;
}

.search::placeholder{
  color: color(#575756);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search:hover, .search:focus{
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

/***EMOJI***/

.emojiPicker{
  display: none;
  position: fixed;
  left: 26%;
  top : 74vh;
  width: 296px;
  border: 1px solid #bbd2e1;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.emojis > div{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}.emojiFrame{
  box-sizing: content-box;
  user-select: none;
  text-align: center;
  cursor: pointer;
  width: 30px;
  font-size: 21px;
  padding: 3px;
  margin: 3px;
  background-color: transparent;
  transform: scale(0.9);

  transition: background-color 0.2s, transform 0.1s;
}.emojiFrame:hover{
  background-color: #bbd2e1;
}.emojiFrame:active{
  background-color: #4babff;
  transform: scale(0.95);
}

/************/

.messageDetailLeft {
  background: #bfdbd5;
}

.messageDetailRight {
  background: #dabfdb;
}

.messageLeft {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

.messageRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.userLeft {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

.userRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.containMessage {
	position: relative;
	width: 100%;
	padding: 0 3% 20px 3%;
}

.messageDetail {
  border: solid 2px grey;
  padding: 10px 20px;
  border-radius: 5px;
}

.user {
  font-weight: bold;
  font-size: 0.9em;
}

.heure {
  font-size: 0.8em;
  padding: 0 0 0 2px;
  display: flex;
  align-items: end;
  min-width: 100px;
}

#membres {
  width: 100%;
  overflow:auto;
}

#membres .userFrame {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem;
  line-height: 4vw;
  font-size: 1vw;
}

#membres .userFrame:hover {
  cursor: pointer;
  background-color: #bbd2e183;
}

#imgUser{
  border: 1px transparent black;
  border-radius: 50%;
  background-color: #318ce7;
  margin-right: 1vw;
}

.profilCtn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.notif{
  width: 10%;
  margin-right: 1.5rem;
}

.selected{
	background: #ac95da;
}

.missed{
	background: #ea565d;
}

.deco{
	background: #ccc;
}

#taper{
	position: absolute;
	top: -25px;
	left: 6.3%;
}

.none{
	display: none;
}

.serverMessage{
  font-style: italic;
  color: #425b8a;
  margin-bottom: 1%;
}

.emoCatCtn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.catico{
  padding: .6rem 1rem;
}

.catico:hover{
  background-color:  #bbd2e183;
  cursor: pointer;
}

/***MESSAGE***/

.rightMsg{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
}

.leftMsg{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.imgMsgCtn{
  display: flex;
  flex-direction: column-reverse;
  width: 3%;
  margin: 0 .5rem ;
}

.imgMsg{
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.nameCtn{
  margin-left: 1rem;
  margin-bottom: .2rem;
  color: #5a5e6b;
  font-weight: bold;
  font-style: italic;
}

.msgMsg{
  display: flex;
  flex-flow: column nowrap;
  max-width: 35%;
}

.contentMsg{
  word-wrap: break-word;
  border-radius: 20px;
  padding: 1rem;
}

.lMsg{
  background-color:#EFEFEF;
  color:black;
}

.rMsg{
  background-color: #318ce7;
  color: white;
}

.dateMsg{
  font-size: .7vw;
  font-style: italic;
}

.ldateCtn{
  padding-top: .5rem;
  margin-left: 2rem;
  display: flex;
  flex-flow: row nowrap;
}

.rdateCtn{
  padding-top: .5rem;
  margin-left: 2rem;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
}

.dateFrame{
  padding-top: .5rem;
  display: flex;
  flex-flow: row nowrap;
  font-size: .7vw;
  font-style: italic;
}



#imageDl{
  display: none;
}